.brand {
  font-family: "Martel", serif;
  font-weight: 800;
}

.sub-brand {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.nombre-brand {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  color: #757575 !important;
  &:hover,
  &:focus {
    color: #1C3879 !important;
  }
}

.titulo {
  font-family: "Martel", serif;
}

.card-title {
  font-family: "Martel", serif;

}

.parrafo {
  font-family: "DM Sans", sans-serif;
  line-height: 2;
  padding-bottom: 40px;
}

.card {
  background-color: #f9f6f6;
  box-shadow: 0 0 10px rgba(94, 93, 93, 0.1);
}

.card-text {
 font-size: 14px;
 

}

.text-footer {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.enlace-footer {
  text-decoration: none;
}

.cuento {
  background-color: #d2e4f7; 
  margin-bottom: 120px;
  border-radius: 10px; 
  padding: 20px;
}
